body {
  background-color: #ffff;
  color: #000;
  font-family: sans-serif;
  margin: 0;
}

.pulse {
  background: none;
  color: #fff;
  border: 2px solid;
  margin: 50px;
  padding: 15px 40px;
  color: #e94e10;
  transition: 0.25s;
}

.pulse:hover,
.pulse:focus {
  color: #fff;
  border-color: #2586ac;
  box-shadow: 0 0 0 15px rgba(255, 255, 255, 0);
  animation: pulsar 1s;
}

 
 
        .container {
            display: flex;
            width: 100vw;
            height: 100vh;
            align-items: center;
            flex-direction: row;

        }
        .container > div {
            width: 400px;
          height: 100px;
            background-color: pink;
            margin: 10px;

        }
        .containerr {
            display: flex;
            width: 100vw;
            height: 100vh;
            align-items: center;
            flex-direction: column ;
            flex-wrap: wrap;
          align-content: space-between;
          }
        .containerr > div {
            width: 100px;
          height: 400px;
            background-color: pink;
            margin: 10px;
        }
        .palce_content{
           display: flex;
            width: 100vw;
            height: 100vh;
            align-items: center;
            flex-direction: column ;
            flex-wrap: wrap;
          align-content: space-between;
         justify-content: center;
        }
        .palce_content  > div {
          width: 100px;
          height: 300px;
          background-color: blueviolet;
          margin: 10px;
        }

 body {
   display: grid;
  place-items: center;
   height: 100vh;
   

 }
div {
  
  width: 200px;
  height: 200px;
  background-color: #e94e10;
  margin: 10px;
}
  






@keyframes pulsar {
  0% {
    box-shadow: 0 0 0 0 #70bcda;
  }
}
